@import "variables";

.px-content {
  margin-bottom: 40px;
}

.alert a {
  color: black;
}
.alert a:hover {
  text-decoration: underline;
}

.custom-control.custom-radio {
  display: inline-block;
}

.form-message {
  z-index: 3;
}

.nav.nav-tabs > li.active > a {
  border-bottom-color: $white !important;
  background-color: $white;
}

@media(min-width: $screen-md-min) {
  .px-nav-left ~ .px-navbar {
    left: 0;
    width: 230px;
  }

  .px-navbar ~ .px-content {
    margin-top: 0;
  }
}
